body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.login-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  margin: 0 0 20px;
  color: #002b5c;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-btn {
  width: 100%;
  background-color: #002b5c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.google-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
  cursor: pointer;
}

.google-signin img {
  width: 20px;
  height: 20px;
}

.signup-text {
  font-size: 14px;
}

.create-link {
  color: orange;
  text-decoration: none;
  font-weight: bold;
}